  <div class="wide-container">
     <div class="renard-home-avatar">
      <%= image_tag "http://res.cloudinary.com/dipongo/image/upload/v1506344071/Composants/renard-ballons-m.png"%>
      </div>
      <div class="speaker"></div>
        <audio id="player">
        <source src="http://res.cloudinary.com/dipongo/video/upload/q_100/v1506349712/Composants/Dipongo.m4a" type="audio/mp3"/>
        </audio>
      <div class="images-home">
    
      <div class="button-univers">
        <%= link_to image_tag('http://res.cloudinary.com/dipongo/image/upload/v1506335420/Composants/cparti-bouton-orange.png') , universes_path, :id => " button-univers-container" %>
      </div>
    </div>
  </div>
