<div class="wide-container-stories">
  <div class="title-stories-index">
    <h1>Liste des Histoires</h1>
  </div>


  <div id="main">
    <% @universe.stories.each do |story| %>
      <div class="button-choose-stories-container">
          <%= link_to story.name, story_path(story) , class: "btn btn-warning button-choose-stories" %>
        <div class="card-stories-image"></div>
      </div>
    <% end %>
  </div>
  <div class="renard-home-avatar">
    <%= image_tag("renard.png") %>
  </div>
</div>
