/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2056px)
and (orientation : landscape){
  section.awSlider .carousel{
    z-index:2;
    height: 70%;
    width: 80%;
    margin: 0px auto;
  }

  section.awSlider{

    height: 60rem;
    margin:30px auto;
    padding:0px;
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  section.awSlider:hover > img{
    margin: 0px auto;
  }

  section.awSlider img{
     pointer-events: none;
     margin: 0px auto;
  }

  section.awSlider > img{
    position:absolute;
    top:0px;
    z-index:1;
    margin: 0px auto;
  }



  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      height: 50rem;
      width: auto;
     margin-bottom: 7rem;
  }

  .univers-carousel-name {
  margin: 0px auto;
  text-align: center;
    p{
      font-family: $estirada;
      font-size: 5rem;
      font-weight: bold;
      color: $dipongo-orange;
      margin-top: -7rem;
      padding-bottom: 5rem;
     }
    }
   }
  .carousel-control{
    opacity: 1;
    width: 0;
  }
  .glyphicon{
    color: $dipongo-orange;
  }




/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2056px)
and (orientation : portrait) {
section.awSlider .carousel{
    z-index:2;
    height: 70%;
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
  }

  section.awSlider{
    height: 100%;
    width: 100%;;
    margin:0 auto;
    padding:0px;
    position:relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  section.awSlider:hover > img{
    margin: 0px auto;
  }

  section.awSlider img{
     pointer-events: none;
     margin: 0px auto;
  }

  section.awSlider > img{
    position:absolute;
    top:30px;
    z-index:1;
    margin: 0px auto;
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
      height: 550px;
      margin: 40px auto;
  }

  .univers-carousel-name {
    margin: 0px auto;
    text-align: center;
    height: 100%;
    p{
      margin-bottom: 20rem;
      font-family: $estirada;
      font-size: 50px;
      color: $dipongo-orange;
      margin-top: 0px;
    }
  }
  .glyphicon{
    color: $dipongo-orange;
  }
}
