/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 368px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .wide-container{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_768,w_1024/v1506355281/Composants/fond-etoiles-m.png');
    height: 768px;
    width: 1024px;
    background-size: cover;
  }

.button-univers{
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 0rem;
}


 .renard-home-avatar{
  margin-left: 0rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  z-index: -1;
  height: 25rem;
  img{
    z-index: -1;
    height: 62rem;
  }
}

.images-home{
    margin-top: 5rem;
  }

.pongo_home {
  position: relative;
  width:100%;
  margin: 0 auto;
  display: block;
  z-index: 1;
  height: 100%;
 }

#pongo-home {
  position: relative;
  height: 43rem;
  margin-bottom: -60rem;
  padding-left: 21rem;
  z-index: 1;
}


// body, html {

// }

#home-sound{
    background-color: transparent;
}

.wide-container-home{
  height: 100%;
    margin: 0;
    background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506355281/Composants/fond-etoiles-m.png);
    background-size: cover;
}
.wide-container{
  height: 100%
}

.speaker {
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506350064/Composants/bouton-son-orange.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  height: 12rem;
  width: 12rem;
  cursor: pointer;
  display: block;
  position: relative;
  top: -23rem;
  left: 10rem;
  display: block;
}

.speakerplay {
  background-position: 0 0;
}

}

/* iPads (landscape) FIN FIN FIN */


.page-sound-play {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506350064/Composants/bouton-son-orange.png);
}



/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 368px)
and (max-device-width : 2056px)
and (orientation : portrait) {
  .wide-container-story{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_1024,w_768/v1506355281/Composants/fond-etoiles-m.png');
    height: 1024px;
    width: 768px;
    background-size: cover;
  }

.button-univers{
  text-align: center;
  margin-top: 15em;
  margin-bottom: 2em;
  height: 60%;
  width: 100%;
  display: block;
  z-index: -1;
}
  .images-home{
    margin-top: 9rem;
  }

  #home-sound{
    background-color: transparent;
  }

 .renard-home-avatar{
  margin-left: 0rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  z-index: -1;
  height: 35rem;
  img{
    z-index: -1;
    height: 80rem;
  }
}

.pongo_home {
  position: relative;
  width:100%;
  margin: 0 auto;
  display: block;
  z-index: 1;
  height: 90%;
 }

#pongo-home {
  position: relative;
  height: 43rem;
  margin-bottom: -36em;
  padding-left: 4.5em;
  z-index: 1;
}

.wide-container-home {
    height: 100%;
    margin: 0;
    background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506355281/Composants/fond-etoiles-m.png);
    background-size: cover;
}

.wide-container{
  height: 50%
}

.speaker {
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506350064/Composants/bouton-son-orange.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  height: 12rem;
  width: 12rem;
  cursor: pointer;
  display: block;
  position: relative;
  top: -35rem;
  left: 20px;
  display: block;
}

.speakerplay {
  background-position: 0 0;
}



}
/* iPads (portrait) -FIN FIN FIN- */





/* Google Nexus 10 (landscape) */
@media only screen and (max-width: 2056px) and (min-width: 1025px) and (orientation : landscape) {
  .wide-container{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_768,w_1024/v1506355281/Composants/fond-etoiles-m.png');
    width: 100%;
    background-size: cover;
  }

.button-univers{
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 0rem;
}


 .renard-home-avatar{
  margin-left: 0rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  z-index: -1;
  height: 25rem;
  img{
    z-index: -1;
    height: 62rem;
  }
}

.images-home{
    margin-top: 5rem;
  }

.pongo_home {
  position: relative;
  width:100%;
  margin: 0 auto;
  display: block;
  z-index: 1;
  height: 100%;
 }

  #pongo-home {
    position: relative;
    height: 43rem;
    margin-bottom: -60rem;
    padding-left: 21rem;
    z-index: 1;
  }

  #home-sound{
      background-color: transparent;
  }

  .wide-container-home{
    height: 100%;
      margin: 0;
      background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506355281/Composants/fond-etoiles-m.png);
      background-size: cover;
  }
  .wide-container{
    height: 100%
  }

  .speaker {
    background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506350064/Composants/bouton-son-orange.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
    height: 12rem;
    width: 12rem;
    cursor: pointer;
    display: block;
    position: relative;
    top: -23rem;
    left: 10rem;
    display: block;
  }

  .speakerplay {
    background-position: 0 0;
  }

}
