.slogan-text h1{
  font-family: 'Sue Ellen Francisco', cursive;
  text-align: center;
  margin-top: 20px;
  color: #32abdf;
  font-size: 160%;
  width: 100%;
  letter-spacing: 2.5px;
}

.wide-container{
background: linear-gradient(to right, #091720, #21667b);
color: white;
height: 100vh;
}

.text-discover-home{
  font-size: 80%;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  li{
    margin-top: 10px;
  }
}

.button-univers-container{
  text-align: center;
  margin-top: 50px;
  border-radius: 4px;
}

.renard-home-avatar{
  margin-top: 50px;
  text-align: center;
}

.footer-home {
  height: 40px;
  background-color: white;
  width: 100%;
}
