.speaker {
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1506350064/Composants/bouton-son-orange.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  height: 120px;
  width: 120px;
  cursor: pointer;
  display: block;
  position: relative;
  top: -220px;
  left: 20px;
  display: block;
}

.speakerplay {
  background-position: 0 0;
}
