.white-intro {
  background-color: white;
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.renard-home-avatar{
  height: 250px;
  margin-top: 20px;
  margin-bottom: 16px;
  text-align: center;
  img{
    height: 250px;
  }
}


/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2048px)
and (orientation : landscape) {


.button-univers-container{
  text-align: center;
  border-radius: 4px;
  font-size: 140%;
  background-color: #32abdf;
  padding-right: 10px;
  padding-left: 10px;
}


.button-univers{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 0em;
  font-family: 'Sue Ellen Francisco', cursive;
}

.text-discover-home{
  font-family: 'Handlee', cursive;
  font-size: 100%;
  text-align: justify;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  text-shadow: 0px 0px 10px white;
  height: 70%;
  color: white;
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera < 12.1 */
            animation: fadein 7s;
}

.slogan-text {

  text-align: center;
  color: #32abdf;

  width: 100%;
  letter-spacing: 2.5px;
  border: none;

  p{
  font-family: 'Sue Ellen Francisco', cursive;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 200%;
  }
}

.renard-home-avatar{
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  img{
    height: 100%;
  }
}

}
/* iPads (landscape) ----------- */






/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2048px)
and (orientation : portrait) {


.button-univers-container{
  text-align: center;
  border-radius: 4px;
  font-size: 140%;
  background-color: #32abdf;
  padding-right: 10px;
  padding-left: 10px;
}


.button-univers{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
  font-family: 'Sue Ellen Francisco', cursive;
}

.text-discover-home{
  font-family: 'Handlee', cursive;
  text-align: justify;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  text-shadow: 0px 0px 10px white;
  height: 100%;
  color: white;
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera < 12.1 */
            animation: fadein 7s;
  p{
    margin-top: 10px;
  }
  }

  .slogan-text {
  text-align: center;
  color: #32abdf;
  width: 100%;
  letter-spacing: 2.5px;
  border: none;
    p{
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 200%;
    }
  }

.renard-home-avatar{
  height: 10%;
  margin-top: 20px;
  margin-bottom: 16px;
  text-align: center;
  img{
    height: 50%;
  }
}

}



/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation : landscape){

.button-univers-container{
  text-align: center;
  border-radius: 4px;
  font-size: 80%;
  background-color: #32abdf;
  padding-right: 10px;
  padding-left: 10px;
}


.button-univers{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: 'Sue Ellen Francisco', cursive;
}

.text-discover-home{
  font-family: 'Handlee', cursive;
  text-align: justify;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  text-shadow: 0px 0px 10px white;
  height: 100%;
  color: white;
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera < 12.1 */
            animation: fadein 7s;
  p{
    margin-top: 10px;
    font-size: 70%;
  }
  }
.slogan-text {

  text-align: center;
  margin-top: -25px;
  color: #32abdf;
  width: 100%;
  letter-spacing: 2.5px;
  border: none;

  p{
  font-family: 'Sue Ellen Francisco', cursive;
  padding-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 120%;
  }
}
.renard-home-avatar{
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  img{
    height: 70px;
  }
}
}


/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
and (orientation : portrait)
{

.button-univers-container{
  text-align: center;
  border-radius: 4px;
  font-size: 110%;
  background-color: #32abdf;
  padding-right: 10px;
  padding-left: 10px;
}


.button-univers{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Sue Ellen Francisco', cursive;
}

.text-discover-home{
  font-family: 'Handlee', cursive;
  font-size: 82%;
  text-align: justify;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1em;
  text-shadow: 0px 0px 10px white;
  height: 100%;
  color: white;
  -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 7s; /* Firefox < 16 */
        -ms-animation: fadein 7s; /* Internet Explorer */
         -o-animation: fadein 7s; /* Opera < 12.1 */
            animation: fadein 7s;
  p{
    margin-top: 10px;
  }
  }
.slogan-text {

  text-align: center;
  margin-top: -25px;
  color: #32abdf;
  width: 100%;
  letter-spacing: 2.5px;
  border: none;

  p{
  font-family: 'Sue Ellen Francisco', cursive;
  padding-top: 25px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 120%;
  }
}
.renard-home-avatar{
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  img{
    height: 100px;
  }
}
}










