
.modal-backdrop.in {
  opacity: 0;
  filter: alpha(opacity=50);
}
.modal-content{
  color: $orange;
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/c_scale,w_900/v1505135835/home/background_dipongo_hp4xo9.png);
}
