.ardoise{
  background-image: url("http://res.cloudinary.com/dipongo/image/upload/c_scale,h_500/v1507046165/Composants/ardoire_renard.png");
  height: auto;
  width: auto;
  background-size: cover;
}
