.content-log-sign{
  background-image: url("http://res.cloudinary.com/dipongo/image/upload/c_scale,w_660/v1507046165/Composants/ardoire_renard.png");
  width: 35em;
  height: 44em;
}

.form-log-sign{
  margin-top: 14em;
  width: 23em;
  margin-left: 7em;
}
