.wide-container-solution{
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/c_scale,w_900/v1505135835/home/background_dipongo_hp4xo9.png);
  height: 800px;
  background-size: cover;
  position:relative;
}

.desc{
  color: white;
}
.solution-font{
  font-family: Sue Ellen Francisco;
}
.btn-next-story{
  margin-top: 25px;
  margin-bottom: 20px;
}
.card-solution{
  padding: 0px;
  margin: 5px;
}
.solution-title h2{
  margin: 0px;
  padding: 10px;
}
.solution-btn{
  padding: 10px;
}
.solution-content{
  color: $white;
  margin:auto;
}

.flex-container {
  position:absolute;
  top: 400px;
  padding: 10px;
  margin: 0;
  list-style: none;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item {
  width: 75px;
  height: 75px;
  margin: 5px;
}

.solution-pics {
  margin: 8px 0;
}

// .scroll-box {
//     height: 250px; /* maximum height of the box, feel free to change this! */
//     overflow-y: scroll;
// }

