/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2056px)
and (orientation : landscape) {


  .wide-container-solution{
    background-image: url("http://res.cloudinary.com/dipongo/image/upload/v1507200286/Composants/fond-etoiles-2.png");
    background-repeat: repeat-y;
    width: 100%;
    position:relative;
  }
  .desc{
    color: white;
    font-family: $gunny;
    font-size: 55px;
    font-style: bold;
  }
  .solution-font{
    font-family: $gunny;
    font-size: 60px;
  }
  .solution-btn{
    height: 200px;
  }
  .btn-next-story{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .card-solution{
    padding: 0px;
    margin: 5px;
  }
  .solution-title h2{
    margin: 0px;
    padding: 10px;
  }

  .solution-content{
    color: $white;
    margin: 10px;
    padding: 10px;
  }

  .flex-container {
    position:absolute;
    top: 400px;
    padding: 10px;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .flex-item {
    width: 75px;
    height: 75px;
    margin: 5px;
  }

  .solution-pics {
    margin: 8px 0;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2056px)
and (orientation : portrait) {

  .wide-container-solution{
    background-image: url("http://res.cloudinary.com/dipongo/image/upload/v1507200286/Composants/fond-etoiles-2.png");
    background-repeat: repeat-y;
    width: 100%;
    position:relative;
  }
  .desc{
    color: white;
    font-family: $gunny;
    font-size: 55px;
    font-style: bold;
  }
  .solution-font{
    font-family: $gunny;
    font-size: 60px;
  }
  .solution-btn{
    height: 200px;
  }
  .btn-next-story{
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .card-solution{
    padding: 0px;
    margin: 5px;
  }
  .solution-title h2{
    margin: 0px;
    padding: 10px;
  }

  .solution-content{
    color: $white;
    margin: 10px;
    padding: 10px;
  }

  .flex-container {
    position:absolute;
    top: 400px;
    padding: 10px;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .flex-item {
    width: 75px;
    height: 75px;
    margin: 5px;
  }

  .solution-pics {
    margin: 8px 0;
  }

}
