#upload {
  font-size: 50px;
}

.attachinary-input {
  visibility: hidden;
}


.label-upload {
  width: 50%;
}

.span-upload {
  margin-top: 80px;
}

.attachinary_container ul {
  list-style-type: none;
}
.attachinary_container a {
  visibility: hidden;
}
.wide-container{
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/c_scale,w_900/v1505135835/home/background_dipongo_hp4xo9.png);
  height: 100vh;
  background-size: cover;
}
