
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2048px)
and (orientation : landscape) {
  .wide-container-page-jungle{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1507152562/Universes/jungle/fond-histoire-jungle-paysage-ipad.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
  }

  .wide-container-page-ocean{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1507152570/Universes/ocean/fond-histoire-ocean-paysage-ipad.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
  }
  .wide-container-page-gourmandise{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1507152551/Universes/gourmandise/fond-histoire-gourmandise-paysage-ipad.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
  }

  .story-div {
    position: relative;
    color: white;
    width: 100%;
    height: 66rem;
    img{
    vertical-align: middle;
    height: 65rem;
    width: 65rem;
    margin-top: 1rem;
    }
  }

  .story-text {
    text-align: justify;
    font-family: $geosans;
    position: relative;
    padding: 1rem;
    top: -9.9rem;
    left: 68rem;
    width: 33rem;
    height: 65rem;
    margin-top: 2.8rem;
    font-size: 160%;
    border-radius: 3%;
    background-color: rgba(244,244,244,0.2);
    text-shadow: 2px 2px 5px rgba(24,24,24,0.7);
  }
  .story-image{
    position: relative;
    width: 10rem;
    height: 10rem;
    padding: 20px;
  }
  .attachinary_container ul li img{
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 57px;
  }

  .control-label.attachinary.optional{
    margin-left: 70px;
  }

  .form-group.attachinary.optional.solution_photo{
  width: 200px;
  background-image: url(http://res.cloudinary.com/dipongo/image/upload/v1507205404/Composants/boutons-prise-photos.png);
  background-size: 15rem;
  background-repeat: no-repeat;
  font-size: 200%;
  color: transparent;
  height: 16rem;
  margin-top: -5rem;
  margin-left: 4rem;
  height: 200px
  }

  .simple_form.new_solution{
    height: 53px;
  }

  .pagination {
    position: relative;
    bottom:  11rem;
    display: flex;
    width: 30%;
    left: 70rem;
    justify-content: space-around;
    width: 300px;

  }

  .space-p {
    height: 40px;
    width: 40px;
  }

  .btn-camera {
    padding: 6px 0;
    text-align: center;
    background-color: lightgrey;
    color: white;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 10%;
  }

  .arrow-right:after {
    content: '\f061';
    font-family: 'FontAwesome';
    font-size: 25px;
  }

  .arrow-left:after {
    content: '\f060';
    font-family: 'FontAwesome';
    font-size: 25px;
  }

  .btn-switch {
    padding: 7px;
    text-align: center;
    background-color: $orange;
    color: white;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    &:focus {
      text-decoration: none;
      color: white;
      background-color: #d3721d;
    }
  }

  // Pongo Animation
  .pongo-animation{
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 70px;
    animation-name: stretch;
   animation-duration: 0.5s;
   animation-timing-function: ease-out;
   animation-delay: 0;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-fill-mode: none;
   animation-play-state: running;
  }
  @keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
  }

}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2048px)
and (orientation : portrait) {
  .wide-container-page-jungle{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_scale,h_1024,w_768/v1506604988/Universes/jungle/fond-histoire-jungle.png');
    height: 1024px;
    width: 768px;
    background-size: cover;
    position: relative;
  }
  .wide-container-page-ocean{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_scale,h_1024,w_768/v1506605002/Universes/ocean/fond-histoire-ocean.png');
    height: 1024px;
    width: 768px;
    background-size: cover;
    position: relative;
  }
  .wide-container-page-gourmandise{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_scale,h_1024,w_768/v1506604968/Universes/gourmandise/fond-histoire-gourmandise.png');
    height: 1024px;
    width: 768px;
    background-size: cover;
    position: relative;
  }

  .story-div {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
  }
  .story-text {
    position: relative;
    font-family: $geosans;
    top: 220px;
    left: 14rem;
    width: 49rem;
    height: 30rem;
    padding: 1rem;
    font-size: 120%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5%;
    text-shadow: 2px 2px 5px rgba(24,24,24,0.7);
  }
  .story-image{
    position: relative;
    top: 52px;
    left: 106px;
    width: 400px;
    height: 400px;
    padding: 20px;
    font-size: 20px;
  }
  .attachinary_container ul li img{
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 57px;
  }

  .pagination {
    position: relative;
    bottom: -500px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 12rem;
  }

  .space-p {
    height: 40px;
    width: 40px;
  }

  .btn-camera {
    padding: 6px 0;
    text-align: center;
    background-color: lightgrey;
    color: white;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 10%;
  }

  .arrow-right:after {
    content: '\f061';
    font-family: 'FontAwesome';
    font-size: 25px;
  }

  .arrow-left:after {
    content: '\f060';
    font-family: 'FontAwesome';
    font-size: 25px;
  }

  .btn-switch {
    padding: 7px;
    text-align: center;
    background-color: $orange;
    color: white;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    &:focus {
      text-decoration: none;
      color: white;
      background-color: #d3721d;
    }
  }

  // Pongo Animation
  .pongo-animation{
    right: 1.5rem;
    position: relative;
    width: 5rem;
    height: 5rem;
    bottom: 2rem;
    animation-name: stretch;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-delay: 0;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-fill-mode: none;
   animation-play-state: running;
  }
  @keyframes stretch {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
  }
}
