body{
  position:relative;
}
.story-div {
  padding: 20px 10px;
  color: white;
}
.text-card {
  padding: 10px;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.space-p {
  height: 40px;
  width: 40px;
}

.btn-camera {
  padding: 6px 0;
  text-align: center;
  background-color: lightgrey;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10%;
}

.arrow-right:after {
  content: '\f061';
  font-family: 'FontAwesome';
  font-size: 20px;
}

.arrow-left:after {
  content: '\f060';
  font-family: 'FontAwesome';
  font-size: 20px;
}

.btn-switch {
  padding: 7px 0;
  text-align: center;
  background-color: $orange;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  &:focus {
    text-decoration: none;
    color: white;
    background-color: #d3721d;
  }
}

.camera:after{
  content:'\f030';
  font-family: 'FontAwesome';
  font-size: 20px;
  // padding-left: 5px;
  // margin: 5px;
}
.camera{
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: $green;
  }
  50% {
    background-color: #33FFCC;
  }
  100% {
    background-color: $green;
  }
}
