/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2048px)
and (orientation : landscape) {

  .wide-container-universes{
  background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_768,w_1024/v1506355281/Composants/fond-etoiles-m.png');
  height: 100%;
  width: auto;
  background-size: cover;
  }
  .title-univers-index {
  height: 100%;
  h1{
  font-family: $gunny;
  font-size: 7rem;
  margin-top: 0px;
  padding-top: 5rem;
  text-align: center;
  color: white;
    }
  }

  .wide-container-universes{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_768,w_1024/v1506355281/Composants/fond-etoiles-m.png');
    height: 768px;
    width: 1024px;
    background-size: cover;
    position: absolute;
  }
 

}


/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 2048px)
and (orientation : portrait) {

  .wide-container-universes{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_1024,w_768/v1506355281/Composants/fond-etoiles-m.png');
  height: 100%;
    width: auto;
    background-size: cover;
    position: absolute;
  }
  .medaille{
    width: 200px;
    height: 200px;
    position: relative;
    top: -358px;
    left: 294px;
  }

  .title-univers-index {
  height: 100%;
  h1{
  font-family: $gunny;
  font-size: 80px;
  margin-top: 0px;
  padding-top: 7rem;
  text-align: center;
  color: white;
    }
  }
}
