/* Format 16/9 PC FULL HD (landscape) ----------- */
@media screen and (device-aspect-ratio: 16/9) and (orientation: landscape)
  {
    .wide-container-story-jungle{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506328861/Universes/jungle/fond-road-map-jungle.png');
    width: 100%;
    height: 132rem;
    background-size: cover;
    position: relative;
  }
  .wide-container-story-ocean{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506328244/Universes/ocean/road-map-ocean.png');
   width: 100%;
    height: 132rem;
    background-size: cover;
    position: relative;
  }
  .wide-container-story-gourmandise{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506444650/Universes/gourmandise/fond-road-map-gourmandise.png');
    width: 100%;
    height: 132rem;
    background-size: cover;
    position: relative;
  }
  .story1 {
    width: 20%;
    position: relative;
    top: 9rem;
    left: 22rem;
    height: 30rem;
  }
  .story2 {
    width: 30%;
    position: relative;
    top: 25rem;
    left: 98rem;
    height: 30rem;
  }
  .story3{
    width: 10rem;
    position: relative;
    bottom: -30rem;
    left: 14rem;
    height: 30rem;
  }


  .btn-universe{
  background-color: #e96b00;
  font-size: 100%;
  font-family: "Gunny_Rewitten";
  border-radius: 10px;
  color: white;
  letter-spacing: 0.9px;
  margin-right: 4rem;
  }

  .btn-back {

    margin-top: 0rem;
    position: absolute;
    top: 6rem;
    right: 6rem;
  }

  .star-valid{
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(51deg);
    left: 53px;
  }
}


/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 368px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .wide-container-story-jungle{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506328861/Universes/jungle/fond-road-map-jungle.png');
    width: 100%;
    height: 102rem;
    background-size: cover;
    position: relative;
  }
  .wide-container-story-ocean{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506328244/Universes/ocean/road-map-ocean.png');
   width: 100%;
    height: 102rem;
    background-size: cover;
    position: relative;
  }
  .wide-container-story-gourmandise{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506444650/Universes/gourmandise/fond-road-map-gourmandise.png');
    width: 100%;
    height: 102rem;
    background-size: cover;
    position: relative;
  }
  .story1 {
    width: 20%;
    position: relative;
    top: 3rem;
    left: 10rem;
    height: 30rem;
  }
  .story2 {
    width: 36%;
    position: relative;
    top: 4rem;
    left: 63rem;
    height: 30rem;
  }
  .story3{
    position: relative;
    bottom: -6rem;
    left: 6rem;
    height: 30rem;
  }


  .btn-universe{
  background-color: #e96b00;
  font-size: 100%;
  font-family: "Gunny_Rewitten";
  border-radius: 10px;
  color: white;
  letter-spacing: 0.9px;
  margin-right: 4rem;
  }

  .btn-back {

    margin-top: 0rem;
    position: absolute;
    top: 6rem;
    right: 6rem;
  }

  .star-valid{
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(51deg);
    left: 53px;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 368px)
and (max-device-width : 2056px)
and (orientation : portrait) {

  .wide-container-story-jungle{
  background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_1024,w_768/v1506604353/Universes/jungle/fond-road-map-jungle-m.png');
  height: 102rem;
  position: relative;
  }
  .wide-container-story-ocean{
  background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_1024,w_768/v1507805147/Universes/ocean/road-map-ocean-m.png');
  height: 102rem;
  background-size: cover;
  position: relative;
  }
  .wide-container-story-gourmandise{
  background-image: url('http://res.cloudinary.com/dipongo/image/upload/c_crop,h_1024,w_768/v1507805072/Universes/gourmandise/fond-road-map-gourmandise-m.png');
  height: 102rem;
  background-size: cover;
  position: relative;
  }
  .story1{
    position: relative;
    top: 2rem;
    left: 0rem;
    width: 20%;

  }
  .story2{
    position: relative;
    top: 3rem;
    left: 46rem;
    height: 67rem;
    width: 36%;
  }
  .story3{
    position: relative;
    bottom: 33rem;
    left: 0rem;
    width: 300px;
    height: 36rem;
  }

  .btn-back {
    position: relative;
    top: -130rem;
    right: -59rem;

  }
  .btn-universe{
    background-color: #e96b00;
    font-size: 150%;
    font-family: 'Sue Ellen Francisco', cursive;
    border-radius: 10px;
    color: white;
    letter-spacing: 2.5px;

    height: 5rem;
  }
  .star-valid{
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(51deg);
    left: 53px;
  }

}
/* iPads (portrait) FIN FIN */


/* Google Nexus 10 (landscape) */
@media only screen and (max-width: 1280px) and (orientation : landscape) {

  .wide-container-story-jungle{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506328861/Universes/jungle/fond-road-map-jungle.png');
    width: 100%;
    height: 128rem;
    background-size: cover;
    position: relative;
  }
  .wide-container-story-ocean{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506328244/Universes/ocean/road-map-ocean.png');
    width: 100%;
    height: 128rem;
    background-size: cover;
    position: relative;
  }
  .wide-container-story-gourmandise{
    background-image: url('http://res.cloudinary.com/dipongo/image/upload/v1506444650/Universes/gourmandise/fond-road-map-gourmandise.png');
    width: 100%;
    height: 128rem;
    background-size: cover;
    position: relative;
  }
  .story1 {
    width: 20%;
    position: relative;
    top: 7rem;
    left: 16rem;
    height: 30rem;
  }
  .story2 {
    width: 36%;
    position: relative;
    top: 16rem;
    left: 83rem;
    height: 30rem;
  }
  .story3{
    position: relative;
    bottom: -24rem;
    left: 10rem;
    height: 30rem;
  }


  .btn-universe{
  background-color: #e96b00;
  font-size: 100%;
  font-family: "Gunny_Rewitten";
  border-radius: 10px;
  color: white;
  letter-spacing: 0.9px;
  margin-right: 4rem;
  }

  .btn-back {

    margin-top: 0rem;
    position: absolute;
    top: 6rem;
    right: 6rem;
  }

  .star-valid{
    width: 50px;
    height: 50px;
    position: absolute;
    transform: rotate(51deg);
    left: 53px;
  }


}
