.title-stories-index {
  text-align: center;
  margin-top: 20px;
  color: #32abdf;
  width: 100%;
  border: none;
  padding: 0;
  h1{
    padding-top: 20px;
    margin-top: -20px;
    font-family: 'Sue Ellen Francisco', cursive;
    letter-spacing: 2.5px;
    font-size: 160%;
  }
}

.card-stories {
  height: 600px;
  width: 300px;
}

.card-content{
  color:#333333;
  height: 200px;
  width: 235px;
  padding: 20px;
  background-color: transparent;
}

.card-stories-image{
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // background-color: #1b83d5;
  border: 1px solid #c3c3c3;
  border-style: dashed;
}

.button-choose-stories{
  width: 150px;
  background-color: #F58F29;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.button-choose-universes-container{
  margin-top: 10px;
  background-color: transparent;
  height: 150px;
  width: 150px;
}

.padding-0 {
  padding: 0px !important;
}

.universe-description{
  margin-bottom: 20px;
  font-size: 20px;
}

.universe-name{
  font-size: 40px;
  margin-bottom: 40px;
}

.price{
  font-size: 32px;
  color: white;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

// .wide-container{
// background-image: url(http://res.cloudinary.com/dipongo/image/upload/c_scale,w_900/v1505135835/home/background_dipongo_hp4xo9.png);
// height: 100vh;
// background-size: cover;
// }

.btn-stories {
  margin-top:30px;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  font-weight: medium;
  background: white;
  transition: background 0.3s ease;
  min-width: 200px;
}
.btn-stories:hover {
  opacity: 1;
  background: #FF0080;
  text-decoration: none;
  color: white;
}
