<div class="wide-container-solution">
  <div class="solution-content">
    <div class="solution-title">
      <h2 class="text-center solution-font">Votre Photo</h2>
    </div>
    <div class="photo-solution text-center">
      <% if @solution&.photo? %>
        <%= cl_image_tag @solution.photo.path, width: 200, height: 200, :border => { :width => 4, :color => '#196375' } ,crop: :fill %>
      <% end %>
    </div>
    <div class="solution-btn text-center">
      <%= link_to "Next Story", universe_path(@story.universe), class: "btn btn-info"%>
    </div>
    <h3 class="text-center solution-font">Autres Photos</h3>
  </div>
  <ul class="flex-container  ">
    <% @story.solutions.reject { |solution| solution == @solution }.each do |solution| %>
      <li class="flex-item">
        <% if solution.photo %>
              <%= cl_image_tag solution.photo.path, width: 75, height: 75 %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close">×</span>
    <img class="modal-content" id="img01">
    <div class="desc"><%= User.name %></div>
  </div>


</div>
