<div class="wide-container">
  <div class="text-center">
    <div class="slogan-text">
      <h1>Comment peux-tu aider Dipongo</h1>
    </div>

    <%= simple_form_for [@story, @solution] do |s| %>

      <label class="text-center label-upload">
        <span id="upload" class="fa fa-camera span-upload"></span>
          <%= s.input :photo, as: :attachinary, label: false, input_html: {capture: true, accept: "image/*", id: "upload", class: "hidden"} %>
      </label>

      <br>

      <%= s.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="renard-home-avatar">
    <%= image_tag("renard.png") %>
  </div>
</div>
